#index-shopkeeper {

    .shopkeeper-card {
        width: 60%;
        // height: 300px;
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        margin: 20px auto;
    }

    .shopkeeper-card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .shopkeeper-card h1 {
        font-size: 24px;
        text-align: center;
    }

    .shopkeeper-card p {
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) and (min-width:300px) {
    #index-shopkeeper {
        .shopkeeper-card {
            width: 80%;
        }
    }
}