@use './partials/variables' as *;
@use './partials/mixins' as *;
@import '~bootstrap/scss/bootstrap';
@import './side-bar.scss';
@import './products/index';
@import './products/show';
@import './shopkeepers/index.scss';
@import './header.scss';
@import './auth/register.scss';
@import './auth/login.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

#logo {
    width: 60px;
}

.logo_back_end {
    width: 150px;
}

.my-btn {
    background-color: $my-blue;
    border-color: $my-blue;

    &:hover {
        background-color: #222831cb;
        border-color: #222831cb;
    }
}

#table-list {
    margin-top: 50px;

    .table-container {
        width: 90%;
        margin: auto;
        padding-bottom: 100px;

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

            thead tr {
                background-color: $my-blue;
                color: $white;
                text-align: left;
            }

            th,
            td {
                padding: 12px 15px;
            }

            tbody tr {
                border-bottom: 1px solid $border-grey;
            }

            tbody tr:nth-of-type(even) {
                background-color: $light-grey;

            }

            tbody tr:last-of-type {
                border-bottom: 2px solid $my-blue;
            }

            tbody tr.active-row {
                font-weight: bold;
                color: $my-blue;
            }

            button {
                color: $white;
            }
        }
    }
}

.form-crud {
    button {
        color: $white;
    }

    label {
        font-weight: bold;

        span {
            color: $red;
        }
    }
}

.obbligatorio {
    span {
        color: $red;
    }
    
    P {
        font-size: 12px;
        color: gray;
    }
}

.pagination>li>a,
.pagination>li>span {
    color: $my-blue; // use your own color here
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: $my-blue;
    border-color: $my-blue;
}