#register {
   .card-header {
        background-color: $my-blue;
        color: $yellow;
        font-size: 20px;
        
        img {
            width: 50px;
        }
    } 

    // .card-body {
    //     background-color: $yellow;
    // }
}